@model PPW_Website.Models.ReportJob

    <h1>@ViewBag.Title</h1>
<hr />
<table>
    <tr>
        <th>
            A/C NUMBER
        </th>
        <td>
            @Html.DisplayFor(model => model.Ac)
        </td>
        <th>
            NOTE No.
        </th>
        <th>
            @Html.DisplayFor(model => model.TicketID)
        </th>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <th>
            Customer Ref.
        </th>
        <th>
            @Html.DisplayFor(model => model.POD)
        </th>
    </tr>
    <tr>
        <th>
        </th>
        <td>
        </td>
        <th>
            @Html.DisplayFor(model => model.DiName)
        </th>
        <th>
            @Html.DisplayFor(model => model.PODExtra)
        </th>
    </tr>
    <tr>
        <th>
            COLLECT FROM
        </th>
        <td>
            @Html.DisplayFor(model => model.Collect1)
        </td>
        <td>
            @Html.DisplayFor(model => model.CPostCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.ColDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.ColTime)
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            @Html.DisplayFor(model => model.Collect2)
        </td>
        <td>
            @Html.DisplayFor(model => model.CRegNo)
        </td>
        <td>
            @Html.DisplayFor(model => model.CNickName)
        </td>
        <td>
            @Html.DisplayFor(model => model.ColTrlr)
        </td>
    </tr>
    <tr>
        <th>
            Site Restrictions:
        </th>
        <td>
            @Html.DisplayFor(model => model.ColSiteRestrict)
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>
            Opening Times:
        </th>
        <td>
            @Html.DisplayFor(model => model.ColOpenTimes)
        </td>
    </tr>


    <tr>
        <th>
            DELIVER TO
        </th>
        <td>
            @Html.DisplayFor(model => model.Deliver1)
        </td>
        <td>
            @Html.DisplayFor(model => model.DPostCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.DelDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.DelTime)
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            @Html.DisplayFor(model => model.Deliver2)
        </td>
        <td>
            @Html.DisplayFor(model => model.DRegNo)
        </td>
        <td>
            @Html.DisplayFor(model => model.DNickName)
        </td>
        <td>
            @Html.DisplayFor(model => model.DelTrlr)
        </td>
    </tr>
    <tr>
        <th>
            Site Restrictions:
        </th>
        <td>
            @Html.DisplayFor(model => model.DelSiteRestrict)
        </td>
    </tr>
    <tr>
        <th>
            Opening Times:
        </th>
        <td>
            @Html.DisplayFor(model => model.DelOpenTimes)
        </td>
    </tr>
    </table>
<hr />
<table class ="right">
    <tr>
        <th>
            DETAILS:
        </th>
        <td>
            @if (Model.Units != 0)
            {
                @Html.DisplayFor(model => model.Units)
            }
        </td>
        <th>
            @if (Model.Units != 0)
            {
                @("Units");
            }
        </th>
        <td>
            @if (Model.M3 != 0)
            {
                @Html.DisplayFor(model => model.M3)
            }
        </td>
        <th>
            @if (Model.M3 != 0)
            {
                @("Cu");
            }
        </th>
        <td>
            @if (Model.Miles != 0)
            {
                @Html.DisplayFor(model => model.Miles)
            }
        </td>
        <th>
            @if (Model.Miles != 0)
            {
                @("Miles");
            }
        </th>
        <td>
            @if (Model.Pallets != 0)
            {
                @Html.DisplayFor(model => model.Pallets)
            }
        </td>
        <th>
            @if (Model.Pallets != 0)
            {
                @("Plts");
            }
        </th>
        <td>
            @if (Model.ActWt != 0)
            {
                @Html.DisplayFor(model => model.ActWt)
            }
        </td>
        <th>
            @if (Model.ActWt != 0)
            {
                @("Wt");
            }
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Goods)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Remarks)
        </td>
    </tr>
        <td>
            @Html.DisplayFor(model => model.ConDetail)
        </td>
    <tr>
        <td>
            @Html.DisplayFor(model => model.VanDeVan)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Container)
        </td>
    </tr>

    <tr>
        <th>
            Authorised Signature:
        </th>
        <td>
            <img src=" @Url.Action("GetImage", new { strCD = ViewBag.CD, lngTicketID = Model.TicketID }) " height="100px" alt="" />
        </td>
        <th>
            Name:
        </th>
        <td>
            @if (ViewBag.CD == "C")
            {
                @Html.DisplayFor(model => model.CSignedFor)
            }else
            {
                @Html.DisplayFor(model => model.SignedFor)
            }
        </td>
        <th>
            Time:
        </th>
        <td>
            @if (ViewBag.CD == "C")
            {
                @Html.DisplayFor(model => model.ActTimeLeft)
            }else
            {
                @Html.DisplayFor(model => model.ActTimeDel)
            }
        </td>
    </tr>
    <tr>
        <th>

        </th>
        <th>

        </th>
        <th>
            Date:
        </th>
        <td>
            @if (ViewBag.CD == "C")
            {
                @Html.DisplayFor(model => model.ColDate)
            }else
            {
                @Html.DisplayFor(model => model.DelDate)
            }
        </td>
        <th>
            PDA:
        </th>
        <td>
            @if (ViewBag.CD == "C")
            {
                @Html.DisplayFor(model => model.CPDA_ID)
            }else
            {
                @Html.DisplayFor(model => model.PDA_ID)
            }
        </td>
    </tr>


    </table>



<hr />